<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apiarios El Toti - Backend</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Inicio (Estático)</a></li>
          <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>